
.gardenPlantIndex {
  display: flex;
  height: 25vh;
  width: 65vw;
  /* background-color: palegreen; */
  margin-bottom: 10px;
  align-items: center;
  padding: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
  position: relative;
  border-bottom: 1em solid #ead2a7;
  margin: 3em auto;
  border-radius: 0px 0px 11px 10px;

}

.skew-left {
  z-index: -10;
  background-color: moccasin;
  height: 5em;
  bottom: 0;
  position: absolute;
  width: 50%;
  width: 50%;
  left: 1.8em;
  transform: skewX(-37deg)
}

.skew-right {
  z-index: -10;
  background-color: moccasin;
  height: 5em;
  bottom: 0;
  position: absolute;
  width: 50%;
  right: 1.8em;
  transform: skewX(37deg);
}

.display-plant-name {
  top: 0;
  position: absolute;
  width: 100%;
  left: 0;
  /* border-bottom: 2px solid; */
}

.gardenPlantIndex .deleteButton{
    bottom: 0;
    position: absolute;
    right: 0;
    margin: 1em 1em;
}
.gardenPlantIndex .editButton{
    bottom: 0;
    position: absolute;
    left: 0;
    margin: 1em 1em;
}


img.myGardenPlantPhoto{
  position: relative;
  height: 80%;
  margin: 2em 2em 0 2em;
  border-radius: 2em;
  border: 2px solid #bfb29c;
  box-shadow: 1px 9px 7px -4px rgba(0,0,0,0.47);

  transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out
}



.image-box{
  position: relative;
  height: 95%;
  border-radius: 2em;
	z-index: 2;
  top: 0;
  background-color: #ffffff00;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out
}


.plant-details{
  position: relative;
  width: 100%;
  text-align: center;
  bottom: 3em;
	font-size: 1em;
	font-weight: 700;
	color: #464646;
  z-index: -1;
}

.myGardenPlantPhoto:hover{
	opacity: 0.5;
}


.myGardenPlantPhoto:hover {
	top: -75px;
}
