#nav-div {
  position: sticky;
  top: 0;
  background-color: aliceblue;
    z-index: 100;

}


#navbar {
  width: 90%;
  margin: 0 auto;
  padding: 0px;
  /* border: 1px solid #ffdede; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  align-items: self-end;
}

#navbar-logo {
  visibility: hidden;

  position: sticky;
  top: 0;

  letter-spacing: 1em;
  color: #6ea37f;
  border: 6px solid #f2e6e5;
  border-style: double;
  justify-self: center;

  padding-left: 1em;
}

nav p {
  margin-bottom: 0.3em;
}
