#nav-div {
  /* position: sticky;
  top: 0;
  /* background-color: aliceblue; */
    /* z-index: 100; */
/*
    border: 2px solid;

    position: sticky;
    top: 0;
    z-index: 100;
    left: 0;
    margin: 0;
    width: 99.5%;
    height: 25%; */
}


#navbar {
  width: 86%;
  /* margin: 0 auto; */
  /* padding: 0px; */
  /* border: 1px solid #ffdede; */
  display: flex;
  justify-content: space-around;
  /* align-content: baseline; */
  /* justify-items: baseline; */
  /* align-self: flex-end; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: 1fr; */
  /* grid-column-gap: 0px; */
  /* grid-row-gap: 0px; */
  /* text-align: center; */
  /* align-items: self-end; */
  position: fixed;
  top: 0;
  left: 4em;
}

#navbar-logo {
  visibility: hidden;

  position: sticky;
  top: 0;

  letter-spacing: 1em;
  color: #6ea37f;
  border: 6px solid #f2e6e5;
  border-style: double;
  justify-self: center;

  padding-left: 1em;
}

nav p {
  margin-bottom: 0.3em;
}

#nav-login-operations {
  align-self: flex-end;
}
