#nav-div {
}

#navbar {
  width: 86%;

  padding: 0 203px;

  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 7em;
  z-index: 20;
}

nav p {
  margin-bottom: 0.3em;
}

nav a,
#login-trigger,
#logOut-link {
  display: inline;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color: #080808b5;
  cursor: pointer;
}

nav a:hover,
#login-trigger:hover,
#logOut-link:hover {
  color: #6ea37f;
}

#nav-login-operations {
  align-self: flex-end;
  margin-bottom: 0.3em;
}
