/* .waterInfoDisplay {
  height: 10em;
  width: 10em;
  /* display: inline; */
  /* z-index: 20; */
/* }  */

/* .waterIcon {
  height: 2em;
  width: 2em;
} */

.waterPlant {
  /* border: 2px solid; */

  height: 3em;
  width: 10em;
  top: 0;
  position: absolute;
  left: 0;

}

.waterPlant-droplet {
  /* border: 2px solid red; */

  height: 93%;
  width: 30%;
  top: 0;
  position: absolute;
  left: 0;

}

.waterPlant-text {
  /* border: 2px solid blue; */

  height: 93%;
  width: 65%;
  top: 0;
  position: absolute;
  right: 0
}

.waterPlant-text p{
  margin: 0;
}


.droplet {
    background-color: lightblue;
    width: 2em;
    height: 2em;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 2em;
    -webkit-border-bottom-right-radius: 2em;
    -webkit-border-bottom-left-radius: 2em;
    -webkit-transform:rotate(45deg);
    box-shadow: 1px 1px 7px #1a1a1a;
    margin: 1em auto;

}

.droplet:active {
  background-color: #1152a2;
}


/* .waterPlant {
  border-radius: 50%;
  background-color:#66ADD9;
}

.waterPlant > img {
  height: 5vh;
  margin: 10px;
  padding: 5px;
} */
