<div className="image-box">
  <img key={plant.id} className="myGardenPlantPhoto" src={plant.photos[0].image} alt=""/>
  <div className="plant-details"><h1>Plant Name</h1></div>
</div>


.image-box{
  position: absolute;
	height: 100%;
	z-index: 2;
  top: 0;
	/* transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out */
}
.image-box img{
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out
}


.plant-details{
  position: relative;
  width: 100%;
  text-align: center;
  bottom: 3em;
}

.plant-details h1{
	font-size: 1em;
	font-weight: 700;
	color: #464646;
}

.myGardenPlantPhoto:hover .image-box img{
	opacity: 0.5;
}

.myGardenPlantPhoto:hover .image-box {
	top: -75px;
}
