
@import "https://fonts.googleapis.com/css?family=Cookie";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Landing Video */
video{
  object-fit:cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 101;
}
.viewport-header {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 102;
  opacity: 70%;
}
.viewport-header h2 {
  font-size: 4rem;
  background-color: rgb(139, 213, 174);
  padding:50px;
  border-radius: 20px;
}
.home-link {
  text-decoration: none;
  color: green;
}
/* Video end */


/* Calendar */
.container {
  margin: 50px;
}
.rbc-btn-group:last-child{
  display: none;
}
.rbc-toolbar-label {
  text-align: right !important;
}
/* Calendar end */

/* ProfilePage */
a {
  text-decoration: none;
}

.profileButtons {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.centered {
  text-align: center;
}

.profileButton {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
	background-image: linear-gradient(to right, #183325, #2b4b32);
	border-radius:6px;
  font-family: monospace, cursive;
	/* display:inline-block; */
	cursor:pointer;
	color:#ffffff;
	text-decoration: none;
  width: 10vw;
  height: 10vw;
}

.profileButton:hover {
	    filter: invert(1);
}

.profileButton:active {
	position:relative;
	top:1px;
}

.slide-top {
	animation: slide-top 0.75s ease-out both;
}

@keyframes slide-top {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ProfilePage end */

/* photo */

.mainPhoto {
  max-width: 45vw;
  max-height: 45vh;
  margin-top: 20px;
  border: 2px solid #bfb29c;
  box-shadow: 1px 9px 7px -4px rgba(0,0,0,0.47);
  border-radius: 3%;
}


.displayPhoto {
  margin: 10px;
  box-shadow: 1px 9px 7px -4px rgba(0,0,0,0.47);
  width: 75vw;
  background-color: white;
  border-radius: 4%;
}

.centerText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallerButton {
  width: 6vw;
  height: 2.5vh;
}

/* photo end */

#logo {
  color: #6ea37f;
}
