
@import "https://fonts.googleapis.com/css?family=Cookie";


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Video */
.section {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.section .landing-nav,.users-link {
  /* text-align: center; */
  font-size: 3rem;
  font-family: "Cookie";
  padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 0.9;
  color: #fff;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
video{
	width: 100%;
}
.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
}
/* Video end */


/* Calendar */
.container {
  margin: 50px;
}
.rbc-btn-group:last-child{
  display: none;
}
.rbc-toolbar-label {
  text-align: right !important;
}
/* Calendar end */
