
nav #login-trigger,
  nav #signup-link,
    nav #logOut-link {
      display: inline;
      height: 25px;
      line-height: 25px;
      font-weight: bold;
      padding: 0 8px;
      text-decoration: none;
      color: #444;
      text-shadow: 0 1px 0 #fff;
      cursor: pointer;
}

nav #login-content {
  position: absolute;
  z-index: 999;
  background-image: linear-gradient(to right, #183325, #2b4b32);
  padding: 2em;
  box-shadow: -7px 10px 20px 0px rgba(0,0,0,.9);
  border-radius: 0 0 2em 2em;
  margin-right: 6em;

}

#login-inputs input {
  color: #888;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border-radius: 2em;
  box-shadow: 0 1px 1px #ccc inset;
  font-size: 1em;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #67A84F;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}


#login #login-submit {
  background-color: #e45050;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3),
              0 1px 0 rgba(255, 255, 255, 0.3) inset;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease;
}

#login #login-submit:hover,
#login #login-submit:focus {
  background-color: #67A84F;
}

#login #login-submit:active {
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
