

.formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: 5em auto;
  background-color: #f7e1e1;
  border-radius: 4em;
  padding: 40px 50px 40px 50px;
  background-image: linear-gradient(to right, #183325, #2b4b32);

  box-shadow: -11px 10px 33px 2px rgba(0,0,0,0.44);
  -webkit-box-shadow: -11px 10px 33px 2px rgba(0,0,0,0.44);
  -moz-box-shadow: -11px 10px 33px 2px rgba(0,0,0,0.44);

  color: white;

}


.formTitle {
  font-family: 'Cinzel Decorative', cursive;
  letter-spacing: 0.3em;
  margin-left: 0.3em;
}



form input{
  border-radius: 2em;
  color: #888;
  display: block;
  font-size: 1em;
  margin: 1em;
  padding: 0px 10px;
  height: 2em;
  width: 16em;
}

form input:focus{
  outline: none;
  border-color: #67A84F;
}

.formButton {
  background-color: #e45050;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  height: 50px;
  width: 310px;
  margin-bottom: 20px;
  -webkit-transition: all 400ms ease;
          transition: all 400ms ease;
}

.formButton:focus{
  outline: none;
}

.formButton:hover{
  background-color: #67A84F;
}
